/* Общие стили для страницы */
* {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Стили для левой панели */
.left-column {
    flex: 0 0 400px; /* Фиксированная ширина для левой колонки */
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 15px;
}

.categories {
    list-style: none;
    padding: 0;
}

.categories li {
    margin-bottom: 10px;
}

.categories li a {
    text-decoration: none;
    color: #333;
}

.categories li a:hover {
    text-decoration: underline;
}

/* Стили для основного контента */
.content-container {
    display: flex;
    gap: 20px; /* Добавим промежуток между колонками */
    padding: 20px;
}

.main-content {
    flex: 1; /* Займет оставшееся пространство */
    padding: 20px;
    overflow: hidden; /* Добавляем, чтобы скрыть переполнение */
}

/* Стили для слайдера */
.slider-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative; /* Относительное позиционирование для управления контентом внутри */
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #ddd;
    width: 100%; /* Устанавливаем ширину слайдера в 100% */
}

.slide {
    min-width: 100%;
    height: 300px; /* Высота изображения акций */
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #666;
    transition: transform 0.5s ease;
    box-sizing: border-box; /* Учитываем padding и border в ширину и высоту */
}

@keyframes slideAnimation {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}

.slider {
    animation: slideAnimation 12s infinite;
}

/* Стили для карточек товаров */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

.product-card .price {
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0;
}

.product-card .add-to-cart {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card .add-to-cart:hover {
    background-color: #2980b9;
}
